body {
    background: white;
}

.paint {
    width: 502px;
    margin:100px auto;
}

.paint__toolbar-instrument {
    display: flex;
    justify-content: space-between;
    background: #F2F7FE;
    padding: 15px;
    margin-bottom: 16px;
    margin-right: 1px;
    box-shadow: 0 3px 20px rgba(135, 206, 235);
    color: white;
    border-radius: 15px;
}

.paint__toolbar-thickness {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.thickness {
    line-height: 35px;
}

.thickness__img {
    vertical-align: middle;
}

.paint__toolbar-canvas {
    background: #F2F7FE;
    padding: 15px;
    margin-top: 15px;
    margin-right: 1px;
    box-shadow: 0 15px 20px rgba(135, 206, 235);
    color: white;
    border-radius: 15px;
    transform: translateY(-7px);
}

.paint__batton {
    display: flex;
    justify-content: space-between;
}

.paint__batton-canvas {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 15px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
}

.paint__batton-canvas:hover {
    background: deepskyblue;
    box-shadow: 0 15px 20px rgba(135, 206, 235);
    color: white;
    transform: translateY(-7px);
}

.CanvasContainer {
    clear: both;
}

canvas {
    box-shadow: 0 15px 20px rgba(135, 206, 235);
    color: white;
    border-radius: 15px;
    transform: translateY(-7px);
}

.paint__img {
    padding: 2px;
    border: 2px solid #F2F7FE;
}

.paint__img:hover {
    box-shadow: 0 15px 20px rgba(135, 206, 235);
    color: white;
    border-radius: 15px;
    transform: translateY(-7px);
}


/*.paint__img.Selected {*/
    /*box-shadow: 0 15px 20px rgba(135, 206, 235);*/
/*}*/

.savedCopyContainer {
    display: none;
}

.savedCopyContainer img {
    width: 460px;
    height: 150px;
}